
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,400;0,600;0,700;1,100;1,200;1,400;1,600;1,700&display=swap');


body {
   font-family: 'Roboto Mono', sans-serif;
}

aside {
   float: left;
   width: 10%;
   padding: 10px, 10px, 10px, 30px;
   margin-right: 10px
}

main {
   width: 90%;
   padding: 0;
}

#newyork {
   width: 200px;
   height: 200px;
}

#headshot {
   width: 200px;
   height: 200px;
}

#biodescrip {
   margin-left: 151px;
}

table {
   border-collapse: collapse;
   margin-top: 20px;
 }
 th, td {
   padding: 17px;
   text-align: left;
   border-bottom: 1px solid #dddddd;
 }
 th {
   background-color: #f2f2f2;
 }

 .ptitle-engin {
   vertical-align: top;
 }

 .project-image {
   height: 200px;
   width: 200px;
 }